*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}

/* Navbar */
#listNav:hover{
    color: #24AB70 !important;
    font-weight: 600 !important;
    transition: all 0.5s ease-in-out 
}
#BtnLogin:hover{
   background-color:#24AB70 !important;
   border: none !important;
    transition: all 0.5s ease-in-out 
}

/*  */
@media (max-width: 576px) { 
    .centred{
        text-align: center !important;
    }
    .btnEx{
        margin: 20px auto !important 
    }
}

#card_hover:hover{
    border: 2px solid black;
    box-shadow:  -9px 9px 18px #1a7950, 9px -9px 18px #2edd90;
    transition: all 0.5s ease-in-out 
}
.dropdown-toggle::after {
    display: none !important; 
  }
  ::-webkit-scrollbar {
    display: none;
}
/* Add your custom styling here */

.login-page {
    background-color: #f4f4f4;
  }
  
  .login-form {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  .brand-name {
    color: #3498db;
  }
  
  /* Add more styles as needed */
  