*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

/* Navbar */
#listNav:hover{
    color: #24AB70 !important;
    font-weight: 600 !important;
    transition: all 0.5s ease-in-out 
}
#BtnLogin:hover{
   background-color:#24AB70 !important;
   border: none !important;
    transition: all 0.5s ease-in-out 
}

/*  */
@media (max-width: 576px) { 
    .centred{
        text-align: center !important;
    }
    .btnEx{
        margin: 20px auto !important 
    }
}

#card_hover:hover{
    border: 2px solid black;
    box-shadow:  -9px 9px 18px #1a7950, 9px -9px 18px #2edd90;
    transition: all 0.5s ease-in-out 
}